@media print {
  @page {
    size: A4;
    margin: 12mm;
  }


  html, body, * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    font-size: 12pt;
  }


  a[href^="tel:"]::after,
  a[href^="mailto:"]::after {
    content: "" !important;
  }



  img.avatar {
    filter: none !important;
    -webkit-filter: none !important;
  }

  .main-wrapper .time {
    float: right;
    color: inherit !important;
  }

  .sidebar-wrapper {
    position: static;
    float: right;
    width: 40%;
  }

  .remove-container.container-block {
    display: none !important;
  }

  footer {
    display: none !important;
  }

  .skillset .level-bar-inner {
    background-color: inherit !important;
  }


  .fa-inverse,
  .fa-inverse:after,
  .fa-inverse:before {
    color: #ffffff !important;
  }


  .section,
  .experience,
  .education,
  .projects,
  .publications,
  .skills {
    page-break-inside: avoid;
  }
}
